body{
  color: white;
}
.primary-color{
  color: #14b471;
}
.main-div {
  height: 100vh;
  background-color: #212529;
  color: white;
}
.my-navbar{
  border-bottom:  0.15rem;
  border-bottom-style: solid;
  border-color: #14b471;
}


